* {
  padding: 0;
  margin: 0;
}


body {
  position: relative;
  height: 100%;
  overflow: scroll;
}

#menu {
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.menu-card {
  position: relative;
  margin: 10px;
  flex-grow: 1;

  height: 130px;

  font-family: serif, "Microsoft YaHei";

  border-radius: 5px;
}

#menu-all {
  background-color: #31b48d;
}

#menu-pending {
  background-color: #38a1f2;
}

#menu-active {
  background-color: #7538c7;
}

#menu-closed {
  background-color: #3b67a4;
}

.menu-card-title {
  position: absolute;
  top: 20px;
  left: 15px;

  font-size: 14px;
  color: #fff;
}

.menu-card-count {
  position: absolute;
  top: 70px;
  left: 15px;;
  
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  
  line-height: 30px;
}

.menu-real-time {
  position: absolute;
  top: 20px;
  right: 15px;
  padding: 5px;

  font-size: 14px;
  color: #fff;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.menu-card-percent {
  position: absolute;
  top: 70px;
  right: 15px;
  
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  
  line-height: 30px;
}

.icon {
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.list-icon {
  height: 25px;
  width: 25px;
}

.arrow-click {
  color: #3080FE;
}

.arrow-unclick {
  color: #aaa;
}

.sort-icon {
  display: inline-flex;
}

.menu-icon {
  position: absolute;
  top: 8px;
  right: 5px;

  width: 7em;
  height: 7em;

  opacity: 0.3;
  color: #fff;
}

#project-list {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;

  font-family: serif, "Microsoft YaHei";
}

table {
  margin-top: 20px;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #DCDEE3;
}

th {
  padding: 15px;
  color: #333;
  background: #EBECF0;
  text-align: start;
}

td {
  padding: 15px;
  font-size: 15px;
  overflow: hidden;
}

.name {
  width: 21%;
}

.description {
  width: 45%;
}

.showTwoLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.endtime {
  position: relative;
  width: 13%;
}

.status {
  width: 13%;
}

.operation {
  width: 7%;
}

.pending {
  color: #EE706D;
}

.closed {
  color: #F7DA47;
}

.active {
  color: #666;
}

td button {
  padding: 5px 8px;

  border: none;
  border-radius: 5px;
  outline: none;
  background: #EE706D;
  color: #fff;
}

#delete-win {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: none;

  font-family: serif, "Microsoft YaHei";

  background-color: rgba(0, 0, 0, 0.3);
} 

#delete-confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -170px;
  margin-top: -90px;

  width: 340px;
  height: 160px;

  background: #fff;
  border-radius: 5px;
}

.confirm-icon {
  position: absolute;
  top: 40px;
  left: 20px;

  width: 2em;
  height: 2em;

  color: #F1C826;
}

#cancel-icon {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 1em;
  height: 1em;
}

#alert {
  position: absolute;
  top: 40px;
  left: 65px;

  font-size: 20px;

  line-height: 24px;
  color: #333;
}

#delete-ask {
  position: absolute;
  top: 72px;
  left: 65px;

  font-size: 14px;
  color: #666;
}

#delete-confirm button {
  padding: 5px 12px;

  font-size: 14px;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 3px;
}

#delete-yes {
  position: absolute;
  bottom: 20px;
  right: 80px;

  background-color: #3080FE;
  color: #fff;
}

#delete-no {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#search-icon {
  color: #aaa;
}

#search {
  display: flex;
  padding: 0 38px 0 12px;
  width: 200px;
  height: 32px;
  border-radius: 20px;
  border: solid 1px #eee;
}

#search-content {
  width: 200px;
  outline: none;
  border: none;
}

#search-icon {
  width: 20px;
}