* {
  padding: 0;
  margin: 0;
}


body {
  width: 100%;
  height: 100%;
}

#menu {
  position: relative;
  padding: 10px;
  display: flex;
}

.menu-card {
  position: relative;
  margin: 10px;

  width: 25%;
  height: 130px;

  font-family: serif, "Microsoft YaHei";

  border-radius: 5px;
}

#menu-all {
  background-color: #31b48d;
}

#menu-pending {
  background-color: #38a1f2;
}

#menu-active {
  background-color: #7538c7;
}

#menu-closed {
  background-color: #3b67a4;
}

.menu-card-title {
  position: absolute;
  top: 20px;
  left: 15px;

  font-size: 14px;
  color: #fff;
}

.menu-card-count {
  position: absolute;
  top: 70px;
  left: 15px;;
  
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  
  line-height: 30px;
}

.menu-real-time {
  position: absolute;
  top: 20px;
  right: 15px;
  padding: 5px;

  font-size: 14px;
  color: #fff;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.menu-card-percent {
  position: absolute;
  top: 70px;
  right: 15px;
  
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  
  line-height: 30px;
}

.icon {
  position: absolute;
  top: 8px;
  right: 5px;

  width: 7em;
  height: 7em;

  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;

  opacity: 0.3;
  color: #fff;
}

#project-list {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;

  font-family: serif, "Microsoft YaHei";
}

table {
  margin-top: 20px;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #DCDEE3;
}

th {
  padding: 15px;
  color: #333;
  background: #EBECF0;
  text-align: start;
}

td {
  padding: 15px;
  font-size: 15px;
  overflow: hidden;
}

.name {
  width: 21%;
}

.description {
  width: 45%;
}

.showTwoLine {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.endtime {
  width: 13%;
}

.status {
  width: 13%;
}

.operation {
  width: 7%;
}

.pending {
  color: #EE706D;
}

.closed {
  color: #F7DA47;
}

.active {
  color: #666;
}

td button {
  padding: 5px 8px;

  border: none;
  border-radius: 5px;
  outline: none;
  background: #EE706D;
  color: #fff;
}